@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    --rdt-dark-purple: #2F0147;
    --rdt-purple: #541675;
    --rdt-pink: #E53F71;
    --rdt-light-blue: #99CCED;

    font-family: 'Cabin', sans-serif;
}

/* layout */

body {
    font-size: 20px;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

    /* border: 1px solid red; */
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-block: 1em;
    padding-block: 1em;
}

.container-directory {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.container-home-buttons {
    display: flex;
    justify-content: space-between;
    margin: 3em auto;
}

.container-fill {
    width: 100%;
}

header {
    background: var(--rdt-dark-purple);
    padding: 0.5em 0;
    /* position: fixed; */
    /* top: 0; */
    width: 100%; 
}

footer {
    background-color: var(--rdt-dark-purple);
    padding: 0.5em 0;
    width: 100%;
    color: white;
}

@media (max-width: 675px) {

    .container-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-section {
        display: flex;
        justify-content: center;
    }

    .container-directory {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-home-buttons {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

}

/* backgrounds */

.bg-amigo-pic-01 {
    background-image: url("./resources/amigo-pic-01.jpg");
}

.bg-team-pic-01 {
    background-image: url("./resources/team-pic.jpg");
}

.bg-arena-setup {
    background-image: url("./resources/arena-setup.jpg");
}

/* navigation */ 

.site-logo {
    max-width: 15%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: white;
    padding: .25em 0;
    transition: all 0.2s
}

nav a:hover,
nav a:focus {
    color: var(--rdt-pink);
}

.current-page {
    color: var(--rdt-light-blue);
    border-bottom: 2px solid var(--rdt-light-blue);
}

.current-page:hover,
.current-page:focus {
    color: var(--rdt-light-blue);
}

.disabled-page {
    color: gray;
}

.disabled-page:hover,
.disabled-page:focus {
    color: gray;
}

@media (max-width: 675px) {

    .site-logo {
        max-width: 40%;
    }

    nav li {
        margin: 0em 0.4em;
    }

}

/* info section */

.section-image {
    max-width: 35%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;

    transition: transform 0.5s;
}

.section-image:hover {
    transform: rotate(-5deg) scale(1.1);
}

.section-content {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.section-title {
    margin: 0;
    font-size: 3.25rem;
}

.section-text {
    margin: 0.5em 0;
    font-size: 2rem;
}

@media (max-width: 675px) {

    .section-image {
        min-width: 80%;
        order: 2;
        /* display: none; */
    }

    .container-section {
        flex-direction: column;
    }

    .section-content {
        text-align: center;
        width: 100%;
    }
}

/* home page directory */
.directory-item {
    width: 30%;
    min-width: 225px;
    aspect-ratio: 1 / 1;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    overflow: hidden;
    border-radius: 10px;
    font-weight: bold;
}

.directory-item * {
    transition: all 0.5s;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.directory-item:hover * {
    transform: scale(1.2);
    color: rgba(0, 0, 0, 0);    
}

@media (max-width: 675px) {

    .directory-item {
        width: 80%;
        margin-bottom: 1em;
    }
    
}

/* Contact buttons */
.container-home-buttons a {
    background-color: var(--rdt-dark-purple);
    width: 45%;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    overflow: hidden;
    font-size: 2rem;
    color: white;
    padding: 0.2em 0;

    transition: all 0.5s;
}

.container-home-buttons a:hover {
    background-color: var(--rdt-purple);
}

@media (max-width: 675px) {

    .container-home-buttons a {
        width: 80%;
        margin-bottom: 30px;
    }

}

/* Home page */

.home-splash {
    height: 20em;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.home-splash * {
    font-size: 4rem;
}

.home-splash span {
    margin: 0;
    background-color: rgba(128, 0, 128, 0.65); 
    padding: 10px; 
    padding-inline: 20px;
}

.home-splash p {
    max-width: 900px;
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 675px) {

    .home-splash {
        height: 10em;
    }

    .home-splash p {
        display: none;
    }

        
    .home-splash * {
        font-size: 1.5rem;
    }

    .home-splash span {
        background-color: rgba(128, 0, 128, 0.65); 
        padding: 10px; 
        padding-inline: 10px;

    }

}
