@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    --rdt-dark-purple: #2F0147;
    --rdt-purple: #541675;
    --rdt-pink: #E53F71;
    --rdt-light-blue: #99CCED;

    font-family: 'Cabin', sans-serif;
}

/* layout */

body {
    font-size: 20px;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

    /* border: 1px solid red; */
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 150px;
}

.container-directory {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.container-home-buttons {
    margin: 3em auto;
}

.container-home-buttons > div {
    display: flex;
    justify-content: space-between;
}

header {
    background: var(--rdt-dark-purple);
    padding: 0.5em 0;
    position: fixed;
    top: 0;
    width: 100%; 
}

/* backgrounds */

.bg-amigo-pic-01 {
    background-image: url("./resources/amigo-pic-01.jpg");
}

.bg-team-pic-01 {
    background-image: url("./resources/team-pic.jpg");
    /* filter: brightness(70%);  */
}

.bg-arena-setup {
    background-image: url("./resources/arena-setup.jpg");
}

/* navigation */ 

.site-logo {
    max-width: 15%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: white;
    padding: .25em 0;
    transition: all 0.2s
}

nav a:hover,
nav a:focus {
    color: var(--rdt-pink);
}

.current-page {
    color: var(--rdt-light-blue);
    border-bottom: 2px solid var(--rdt-light-blue);
}

.current-page:hover,
.current-page:focus {
    color: var(--rdt-light-blue);
}

/* info section */

.section-image {
    max-width: 35%;
    object-fit: cover;
}

.section-content {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.section-title {
    margin: 0;
    font-size: 3.25rem;
}

.section-text {
    margin: 0.5em 0;
    font-size: 2rem;
}

/* home page directory */
.directory-item {
    width: 30%;
    min-width: 225px;
    aspect-ratio: 1 / 1;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    overflow: hidden;
    border-radius: 10px;
    font-weight: bold;
}

.directory-item * {
    transition: all 0.5s;
    background-size: cover;
    background-position: center;
    background-blend-mode:difference;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.directory-item:hover * {
    transform: scale(1.2);
    color: rgba(0, 0, 0, 0);
}

/* Contact buttons */
.container-home-buttons a {
    background-color: var(--rdt-dark-purple);
    width: 45%;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    overflow: hidden;
    font-size: 2rem;
    color: white;
    padding: 0.2em 0;

    transition: all 0.5s;
}

.container-home-buttons a:hover {
    background-color: var(--rdt-purple);
}