@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --active-color: #E0AAFF
}


* {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.active {
    color: var(--active-color) !important
}

.bg-pattern {
    background-image: url(./resources/pattern.png);
    background-size: cover;
    background-attachment: fixed;
}

.bg-space-1 {
    background-image: url(http://wallpaperset.com/w/full/9/6/a/517453.jpg);
}

.bg-space-2 {
    background:url(https://cdn.wallpapersafari.com/6/24/6v4nA9.jpg);
}

.bg-space-3 {
    background: url(https://wallpaperaccess.com/full/21519.jpg);
}

.bg-darkviolet {
    background-color: #240046;
}

.page-top {
    background-size: cover;
    background-position: initial;
}

.bar-item {
    padding-left: 3vmin;
    padding-right: 3vmin;
}

.bar-item > .text-white:hover {
    color:var(--active-color) !important
}

.intro {
    margin-block: 1vmin;
}

.main-img {
    max-width: 60vmax;
    max-height: 25vmax;
    margin: 2em;
    border: 2vmin solid black;
    border-radius: 2vmin 10vmin;
}

.space-info {
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    font-size: 6vmin;
    height: 10vmax;
}

.space-year {
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    font-size: 4vmax;
    height: 7vmax;
    margin: 2vmax;
    border-block: rgb(0, 11, 58) 1px solid;
}

.space-right {
    shape-outside: polygon(0% 55%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0% 55%, 100% 0%, 100% 100%, 0 100%);
    justify-content: right;
}

.space-left {
    shape-outside: polygon(100% 0%, 0% 55%, 100% 100%, 0 100%);
    clip-path: polygon(0% 0%, 100% 55%, 100% 100%, 0 100%);
    justify-content: left;
}

.space-center {
    height: 8vmax;
    justify-content: center;
}

.info-split {
    max-width: 40vmax;
    margin: 5vmin;
    font-size: 1.5vmax;
}

.info {
    max-width: 80vmax;
    margin: 5vmin;
    font-size: 1.5vmax;
}

.skill-box {
    width: 23vmax;
    background-color: black;
    margin: 3vmin;
    font-size: 3vmax;
}

.skill-comp {
    font-size: 2vmax;
    padding: 2vmax;
    background-color: #20003D;
}

.skill-set {
    font-size: 1.2vmax;
    padding: 1.5vmax;
    background-color: #10002B;
}

.page-bottom {
    background-color:#14032e;
    height: 20vmin;
    font-size: 0.75vmax;
    display: flex;
    align-items: center;
    justify-content: left;

}

.bottom-logo {
    max-height: 10vmin;
    margin: 3vmin;
}

.video {
    width: 40vmax;
    height: 22.5vmax;
    margin: 4vmin;
}

.button {
    overflow-y: hidden;

    width: 30vmax;
    height: 9vmax;
    display:flex;
    align-items: center;
    padding: 2vmin;

    margin: 4vmin;
    font-size: 2vmax;

    background-color: #212529;

    border-radius: 0 3vmax 0 3vmax;

    border: 1px solid black;
    color:#CED4DA;

    transition: background-color 200ms;
    transition: color 200ms;
}

.button:hover {
    background-color: #2E3338;
    border-color: #495057;
    color: white;
}

.contact-heading {

    background-attachment: fixed;

    height: 15vmin;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;

    border-block: rgb(63, 63, 63) 1px solid;
}

.contact-heading > h1 {
    font-size: 6vmin;
    margin-left: 4vmin;
}

.contact-heading > h2 {
    font-size: 3vmin;
    margin-left: 4vmin;
}

.recruitment-status {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-style: italic;
    color: rgb(190, 56, 56);
}

.recruitment-status > h1 {
    font-size: 4.5vmin;
}

.recruitment-status > h2 {
    font-size: 3.5vmin;
}
