* {
    --rdt-dark-purple: #2F0147;
    --rdt-purple: #541675;
    --rdt-pink: #E53F71;
    --rdt-light-blue: #99CCED;

    font-family: 'Montserrat', sans-serif;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.container-featured {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    grid-column-gap: 10px; 
    grid-row-gap: 10px;
    margin: 1em;
    min-height: 500px;
    padding-block: 25px;
}

.container-featured > * {
    border: solid 1px black;
}

.featured-header {
    grid-area: 1 / 1 / 2 / 7;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    font-size: 3rem;
    font-style: italic;
    background-color: var(--rdt-dark-purple);
    color: white;
}

.featured-photo {
    grid-area: 2 / 1 / 6 / 6;
    background-image: url("../resources/article_photos/featured-photo.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
}

.featured-photo::before {
    content: '';
    z-index: 10;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 40%);
    z-index: 0;
  }

.featured-sidebar {
    grid-area: 2 / 6 / 7 / 7;
    background-color: var(--rdt-dark-purple);
    color: white;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    padding: 10px;
    font-size: 5rem;
}

.featured-title {
    grid-area: 6 / 1 / 7 / 6;   
    display: flex;
    align-items: flex-end;
    font-size: 2.5rem;
    font-size: bold;
    color: white;
    overflow: hidden;
    transition: font-size 0.5s, background-color 0.5s;
    text-decoration: none;
    background-color: rgb(19, 2, 18);
    padding: 10px;
}

.featured-title:hover {
    background-color: black;
    font-size: 2.75rem;
}

@media (max-width: 675px) {

    .container {
        width: 95%;
    }

    .container-featured {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        max-height: 200px;
    }

    .featured-sidebar {
        grid-area: 0 / 0 / 0 / 0;
        display: none;
    }

    .featured-photo {
        grid-area: 2 / 1 / 6 / 7;
    }

    .featured-header {
        font-size: 2rem;
    }

    .featured-title {
        font-size: 1.25rem;
        grid-area: 7 / 1 / 6 / 7;
    }

}

.article-item {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    margin-inline: 20px;
    margin-block: 20px;
    min-height: 200px;
    text-decoration: none;
}

.article-item > div {
    grid-area: 1 / 1 / 4 / 4; 
    background-size: cover;
    background-position: center;
}

.article-item > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 4 / 3 / 8;  
    background-color: white;
    margin: 0;
    padding-inline: 10px;
    font-size: 1.5rem;
    color: black;
}

.article-item > p {
    grid-area: 3 / 4 / 4 / 8; 
    background-color: white;
    font-style: italic;
    margin: 0;
    padding: 10px;
    font-size: 1rem;
    color: black;
}

@media (max-width: 675px) {

    .article-item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    

    .article-item > div {
        grid-area: 1 / 1 / 4 / 4;
    }

    .article-item > h2 {
        grid-area: 4 / 1 / 6 / 4;
        font-size: 1rem;
    }

    .article-item > p {
        grid-area: 6 / 1 / 7 / 4;
        font-size: 0.75rem;
    }

}